include README.md LICENSE CODE_OF_CONDUCT.md CHANGELOG.md CITATION.cff
recursive-include tests *.py
recursive-include clypto *.pyx *.pxd *.pyi
global-exclude *.c
global-exclude *.so
global-exclude *.py[cod]
